<!DOCTYPE html>
<html>
<head>
    {# Basic metadadta #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JRAW Handbook</title>

    {# 3rd party libs #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:900|Roboto|Roboto+Mono">
    <link rel="stylesheet" href="highlight.theme.css">
    <script src="highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>

    {# Load our styles after 3rd party styles #}
    <link rel="stylesheet" href="site.css">
</head>
<body>
<div class="main-content">
    <header>
        <h1 class="title">JRAW</h1>
        <h2 class="subtitle">The Java Reddit API Wrapper</h2>
    </header>

    <main>
        {{ content }}
    </main>
</div>
<footer>
    <p>JRAW is licensed under the <a href="https://github.com/thatJavaNerd/JRAW/blob/master/LICENSE.md">MIT license</a>. Contact me (thatJavaNerd) by <a href="mailto:deanmatthew16@gmail.com">email</a>, <a href="https://github.com/thatJavaNerd/JRAW/issues/new">GitHub Issues</a>, or <a href="https://www.reddit.com/message/compose?to=thatJavaNerd">reddit</a>.</p>
</footer>
</body>
</html>
