# IntelliJ
.idea/
*.iml
*.ipr
*.iws
local.properties

# Gradle
.gradle/
build/
out/

# Testing account credentials
lib/src/test/resources/credentials.json

# Generated code
lib/src/gen

# Local todo list
todo.txt

# Other
bin/
*.swp
