# IntelliJ
.idea/
*.iml
*.ipr
*.iws
local.properties

# Gradle
.gradle/
build/
out/
gradle.properties

# Testing account credentials
lib/src/test/resources/credentials.json

# Local todo list
todo.txt

# Other
bin/
*.swp
