/* Basics */
html {
    font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
}

html, body {
    /* Make sure our footer sticks to the bottom using display: flex */
    min-height: 100vh;
}

/* Headers styling */
h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 24px;
    font-weight: bolder;
}

header {
    background-color: #512DA8;
    color: #FFF;
    height: 350px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title, .subtitle {
    user-select: none;
}

.title {
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10rem;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: 2rem;
}

/* Media queries for smaller devices */
@media all and (max-width: 600px) {
    .title {
        font-size: 6rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    header {
        height: 250px;
    }
}

@media all and (max-width: 330px) {
    .title {
        font-size: 4rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
    header {
        height: 200px;
    }
}

.main-content {
    flex-grow: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

main {
    width: 960px;
    max-width: 100vw;
    margin: 20px auto;
}

footer {
    width: 960px;
    max-width: 100vw;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 80%;
}

@media all and (max-width: 970px) {
    main {
        width: auto;
        margin: 20px;
    }

    footer {
        width: auto;
        margin: 0 20px;
    }
}

/* Code and text styling */
p {
    line-height: 24px;
}

code {
    font-family: "Roboto Mono", monaco, Consolas, "Lucida Console", monospace;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 85%;
    border-radius: 3px;
    background-color: #f8f8f8;
}

/* Inline code */
p code::before, p code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

/* Code blocks */
.code-container code {
    padding: 16px;
}

.code-container {
    font-family: "Roboto Mono", monaco, Consolas, "Lucida Console", monospace;
}

ol, ul, pre {
    line-height: 1.45;
}

/* Link styling */
a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active, a:hover {
    outline-width: 0;
}
